<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>ONLY</title>
	<link rel="stylesheet" type="text/css" href="../../../../resources/static/common/css/style.css">

	
</head>
<body>
	<div class="container">
		<header>

      <img src="../../../../resources/static/common/img/ONLY_logo1.png" width="150" height="100">
			<h2>온라인경매</h2>
      
			<nav>
				<ul>
					<li><a href="#">로그인</a></li>
					<li><a href="">회원가입</a></li>
					<li><a href="">마이페이지</a></li>
				</ul>
			</nav>
		</header>
	</div>
</body>
</html>